@import '@Project/css/variable.scss';
:root {
    --max-container-height: 800px;
    --active-max-height: 368px;
    --discontinued-max-height: 368px;
    --squat-active-proportion: 50vh;
    --squat-discontinued-proportion: 50vh;
    --unit-dimension: 30px;
    --header-height: 45px;
    --unit-padding: 2px;
}
:global(#viz-view) {
    display: flex;
    justify-content: flex-end;
}
.container {
        width: calc(100% - 65px);
    min-width: 320px;
    .squat & {
    }
}
.activeContainer {
    .squat & {
      //  height: calc(var(--squat-active-proportion) - var(--unit-dimension) / 2);
    }
    display: flex;
}
.headerContainer {
    background-color: $medium_red;
    display: flex;
    height: var(--header-height);
    align-items: center;
    position: relative;
    margin-bottom: calc( var(--unit-dimension) + var(--unit-padding) );
    &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: var(--unit-dimension);
        content: 'Discontinued';
        background-color: $light_red;
        color: $medium_red;
        top: 100%;
        text-align: center;
        font-style: italic;
        font-size: .85em;
        font-weight: bold;
        line-height: 200%;
    }
}
.discontinuedContainer {
    display: flex;
    .squat & {
    //    height: calc(var(--squat-discontinued-proportion) - var(--unit-dimension) / 2);
    }
}
.column {
    display: flex;
    flex-grow: 1;
    margin: 0 2px;
    .activeContainer & {
        flex-wrap: wrap-reverse;
        align-items: flex-end;
    }
    .discontinuedContainer & {
        flex-wrap: wrap;
    }
}
.drug {
    width: 100%;
    height: var(--unit-dimension);
    margin-right: var(--unit-padding);
    background-color: transparent;
    position: relative;
    border: 2px solid transparent;
    transition: transform 0.2s ease-in-out;
    &:not(.drugEmpty){
        background-color: $gray;
        border-collapse: $gray;
    }
    .activeContainer & {
        margin-bottom: var(--unit-padding);
    }
    .discontinuedContainer & {
        margin-top: var(--unit-padding);
        &:not(.drugEmpty) {
            border-color: lighten($gray, 10%);
            background-color: lighten($gray, 10%);
        }
        &.novel {
            background-color: lighten($green, 15%);
            border-color: lighten($green, 15%);
        }
        &.urgent {
            border-color: desaturate(lighten($dark_blue, 40%), 40%);
        }
        &.gramNegative::after {
            color: lighten($medium_blue, 15%);
        }
    }
    .squat & {
        width: calc(50% - var(--unit-padding));
    }
    &.novel {
        background-color: $green;
        border-color: $green;
    }
    &.urgent {
        border-color: $dark_blue;
    }
    &.gramNegative::after {
        content: '(—)';
        color: $medium_blue;
        display: block;
        position: absolute;
        right: 10px;
        font-weight: 900;
    }
    .detailDrawer {
        position: absolute;
        width: calc( 100% + 4px );
        background-color: inherit;
        border: inherit;
        border-color: inherit;
        border-top-width: 0;
        top: calc( 100% - 2px );
        left: -2px;
        opacity: 0;
        transform-origin: top;
        transition: opacity .2s ease-in-out, transform .2s ease-in-out;
        transform: scaleY(0);
        z-index: 1;
        padding: 5px;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
        font-size: .85em;
    }
    &:not(.drugEmpty):hover {
        z-index: 1;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
        transform: scale(1.05);
        .detailDrawer {
            opacity: 1;
            transform: scaleY(1);
        }
    }
}

.headerDiv {
    color: #fff;
    font-weight: 900;
    font-size: .85em;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--unit-dimension);
    border-right: 1px solid #fff;
    &:last-child {
        border-width: 0;
    }
}

.phaseFull {
    @media screen and (max-width: 450px) {
        display: none;
    }
}
.phaseAbbr {
    display: none;
     @media screen and (max-width: 450px) {
        display: inline;
    }
}

.controlContainer {
    display: flex;
    flex-wrap: wrap;
    width: 65px;
    align-content: flex-start;

}
.playButton, .yearButton {
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 30px;
    cursor: pointer;
}
.playButton {
    
    background: url('./play-button.min.svg') no-repeat center;
    background-size: contain;
    &.isPaused {
        background-image: url('./play-button--pause.min.svg')
    }
}
.yearButton {
    font-size: .80em;
    font-weight: 500;
    &.yearButtonActive {
        font-weight: 900;
    }
    &:not(.yearButtonActive):hover, &:not(.yearButtonActive):focus {
        color: $medium_blue;
        font-weight: 900;
    }
    &:disabled {
        color: inherit;
    }
}