<section id="intro">
    <div class="js-inner-content">
    </div>
</section>
<section id="section-comparison">
    <div class="js-inner-content">
        <h2>Antibiotics in Development Since 2014</h2>
        <div class="abx-legend">
            <div class="abx-legend--wrapper">
                <p class="abx-legend--item abx-legend--item--abx">Antibiotic</p>
                <p class="abx-legend--item abx-legend--item--urgent">Potential to treat CDC urgent pathogen</p>
            </div>
            <div class="abx-legend--wrapper">
                <p class="abx-legend--item abx-legend--item--novel">Novel antibiotics</p>
                <p class="abx-legend--item abx-legend--item--gram">Potential to treat Gram-negative bacteria</p>
            </div>
        </div>
        <div id="abx-visualization">
        </div>
    </div>
</section>
<div id="abx-notes"></div>