<section id="intro">
    <div class="js-inner-content">
    </div>
</section>
<section id="section-comparison">
    <div class="js-inner-content">
        <h2>Antibiotics in Development Since 2014</h2>
        <div class="abx-legend">
            <div class="abx-legend--wrapper">
                <p class="abx-legend--item abx-legend--item--abx">Antibiotic</p>
                <p class="abx-legend--item abx-legend--item--urgent">Expected to treat CDC urgent pathogen</p>
            </div>
            <div class="abx-legend--wrapper">
                <p class="abx-legend--item abx-legend--item--novel">Novel antibiotics</p>
                <p class="abx-legend--item abx-legend--item--gram">Expected to treat Gram-negative ESKAPE pathogens</p>
            </div>
        </div>
        <div id="abx-visualization">
        </div>
        <div id="abx-totals">
            <p>Total <strong>approved</strong> antibiotics <span class="since-2014">since 2014</span>: <span id="total-approved" class="total-span"></span></p>
            <p>Total <strong>discontinued</strong> antibiotics <span class="since-2014">since 2014</span>: <span id="total-discontinued" class="total-span"></span></p>
        </div>
        <a name="summary" id="summary"></a>
        <div id=visually-hidden-container>

        </div>
    </div>
</section>
<div id="abx-notes"></div>
<footer class="download-resources">
    <div>
        <p class="flex"><strong>Resources: </strong>
            <span class="flex">
                <a class="pct-download" href="https://www.pewtrusts.org/en/research-and-analysis/issue-briefs/2019/03/tracking-the-global-pipeline-of-antibiotics-in-development">Methodology</a>
                <a class="pct-download" href="https://www.pewtrusts.org/en/research-and-analysis/data-visualizations/2014/antibiotics-currently-in-clinical-development">Report</a>
            </span>
        </p>
    </div>
</footer>